body{-webkit-font-smoothing: antialiased;}

em,
i{font-style: normal;}

button{background: transparent;margin: 0;padding: 0;border: 0;border-radius: 0;font-size: 1em;line-height: 0;}

ul,
ol,
li{list-style: none;padding: 0;margin: 0;}

img{max-width: 100%;}

textarea{ resize: none;}

a{text-decoration: none;}

// circle checkbox
.form-check{
    &.form-check-circle{
        .form-check-input{
            background: url('../images/checkbox-circle.svg') no-repeat 0 0;background-size: contain; border: 0;
            &:checked{background-image: url('../images/checkbox-circle-checked.svg');}
        }
    }
    &.form-check-lg{
        padding-left: 2.5em;
        .form-check-input{
            background-image: url('../images/checkbox-circle-lg.svg');
            width: 1.875rem;height: 1.875rem;margin-left: -2.5em;
            &:checked{background-image: url('../images/checkbox-circle-checked-lg.svg');}
        }
    }
}

.form-text{font-size: 14px;}

.btn-group{
    .btn-check:not(:checked) + .btn{background: $input-bg;border-color: $input-bg;color: #a0a0a0;}
}

.btn-outline-secondary{
    border-color: #a0a0a0;
    &:active,
    &:hover{
        background-color: #a0a0a0;border-color: #a0a0a0;
    }
}

.list-group-card-type{
    .list-group-item{
        border-radius: .375rem;border: 0;border: 2px solid #fff;transition: all .15s;
        & + .list-group-item{margin-top: .75rem;}
        &:hover{border-color:  tint-color($primary, 65%);background: #fff;}
        &.active{
            border-width: 2px;border-color: $primary;
            background-color: tint-color($primary, 90%);
        }
    }
}


.pager{
    display: flex;align-items: center;justify-content: center;
    li{display: block;width: 8px;height: 8px;border: 2px solid #c4c4c4;border-radius: 50%;font-size: 0;margin: 0 4px;}
    li.active{background: $primary;border-color: $primary;}
}

.back{
    display: inline-block;width: 18px;height: 18px;text-align: center;
    i{vertical-align: top;}
}

.modal-header{justify-content: center;border-bottom: 0;padding-top: 38px;padding-bottom: 0;
    .pager{position: absolute;left: 50%;top: 1rem;transform: translateX(-50%);}
    .back{position: absolute;left: 20px;top: 44px;}

}
.modal-title{font-size: 24px;font-weight: 700;line-height: 1.25;}
.modal-footer{
    border-top: 0;display: block;position: relative;padding: 1rem 1.5rem;
    &::before{content: '';position: absolute;top: 0;left: 1.5rem;right: 1.5rem;height: 1px;background-color: #EBEDF3;}
    &.border-top-0{
        &::before{display: none;}
    }
}

.alert-message{
    line-height: 1.6;font-size: 18px;font-weight: 500;color: #000;text-align: center;margin-top: 1.5rem;
    strong{font-size: 24px;}
}

.form-error{
    background: $danger;margin-left: -1.5rem;margin-right: -1.5rem;text-align: center;
    color: #fff;padding: 12px;margin-bottom: 1.5rem;font-weight: 500;line-height: 1.57;
}

strong.required{
    display: inline-block;font-size: 0;width: 4px;height: 4px;border-radius: 50%;background: $primary;vertical-align: top;line-height: 1;margin-left: 2px;transform: translateY(1px);
}

.bg-in-modal{
    background: #EBEDF3;padding: 1.5rem;
}

.position-relative{
    .file-delete{position: absolute;right: 1rem;top: 50%;transform: translateY(-50%)}
}

.filter{
    background: #fff;overflow: hidden;border-radius: 12px;padding: 0 1.5rem;
    .filter-top{
        padding: .75rem 0;border-bottom: 1px solid #EBEDF3;
    }
    .filter-body{
        padding: .75rem 0;
    }
    .filter-title{font-size: 18px;font-weight: 700;}
}

.box{
    background: #fff;overflow: hidden;border-radius: 12px;padding: 1rem 1.5rem;
}

.table-top{margin-bottom: 1.25rem;}

.table-title{font-size: 24px;line-height: 1.25;font-weight: 700;}

.table-striped{
    border-bottom-width: 0;
}

thead.table-dark{
    th:first-child{border-radius: 6px 0 0 6px;}
    th:last-child{border-radius: 0 6px 6px 0;}
}