html,
body{
    height: 100%;
    scrollbar-face-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: #aaa;
	scrollbar-3dlight-color: none;
	scrollbar-shadow-color: #aaa;;
	scrollbar-darkshadow-color: none;
    scrollbar-color: #aaa;
    scrollbar-width: thin;
}
::-webkit-scrollbar{
	width: 5px;
	height: 5px;
	background-color: transparent;
}
::-webkit-scrollbar-track{
	border-radius: 0;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 6px;
	background-color: #aaa;;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

body{-webkit-font-smoothing: antialiased;}

em,
i{font-style: normal;}

button{background: transparent;margin: 0;padding: 0;border: 0;border-radius: 0;font-size: 1em;line-height: 0;}

dl,
dt,
dd,
ul,
ol,
li{list-style: none;padding: 0;margin: 0;}

img{max-width: 100%;}

textarea{ resize: none;}

a{text-decoration: none;}

// circle checkbox
.form-check{
    &.form-check-circle{
        .form-check-input{
            background: url('../images/checkbox-circle.svg') no-repeat 0 0;background-size: contain; border: 0;
            &:checked{background-image: url('../images/checkbox-circle-checked.svg');}
        }
    }
    &.form-check-lg{
        padding-left: 2.5em;
        .form-check-input{
            background-image: url('../images/checkbox-circle-lg.svg');
            width: 1.875rem;height: 1.875rem;margin-left: -2.5em;
            &:checked{background-image: url('../images/checkbox-circle-checked-lg.svg');}
        }
    }
}

.form-text{font-size: 14px;}

.flex-1{flex: 1 !important;}
.btn-group{
    .btn-check:not(:checked) + .btn{background: $input-bg;border-color: $input-bg;color: #a0a0a0;}
    .btn-check:checked{
        & + .btn{font-weight: 700;}
        & + .btn-success{background: $success;border-color: $success;}
        & + .btn-danger{background: $danger;border-color: $danger;}
    }
}

.btn-check{
    &:checked{
        & + .btn-outline-secondary{background-color: $primary;border-color: $primary;}
    }
}

.btn-outline-secondary{
    border-color: #a0a0a0;
    &:active,
    &:hover{
        background-color: #a0a0a0;border-color: #a0a0a0;
    }
}

.list-group-card-type{
    .list-group-item{
        border-radius: .375rem;border: 0;border: 2px solid #fff;transition: all .15s;
        & + .list-group-item{margin-top: .75rem;}
        &:hover{border-color:  tint-color($primary, 65%);background: #fff;}
        &.active{
            border-width: 2px;border-color: $primary;
            background-color: tint-color($primary, 90%);
        }
    }
}


.pager{
    display: flex;align-items: center;justify-content: center;
    li{display: block;width: 8px;height: 8px;border: 2px solid #c4c4c4;border-radius: 50%;font-size: 0;margin: 0 4px;}
    li.active{background: $primary;border-color: $primary;}
}

.back{
    display: inline-block;width: 18px;height: 18px;text-align: center;
    i{vertical-align: top;}
}

.modal-header{
    justify-content: center;border-bottom: 0;padding-top: 38px;padding-bottom: 0;
    .pager{position: absolute;left: 50%;top: 1rem;transform: translateX(-50%);}
    .back{position: absolute;left: 20px;top: 44px;}
    &.bg-dark{
        background-color: #43464C !important;padding-top: 17px;padding-bottom: 13px;
        .modal-title{color: #fff;}
    }
}
.modal-title{font-size: 24px;font-weight: 700;line-height: 1.25;}
.modal-footer{
    border-top: 0;display: block;position: relative;padding: 1rem 1.5rem;
    &::before{content: '';position: absolute;top: 0;left: 1.5rem;right: 1.5rem;height: 1px;background-color: #EBEDF3;}
    &.border-top-0{
        &::before{display: none;}
    }
}

.alert-message{
    line-height: 1.6;font-size: 18px;font-weight: 500;color: #000;text-align: center;margin-top: 1.5rem;
    strong{font-size: 24px;}
}

.form-error{
    background: $danger;margin-left: -1.5rem;margin-right: -1.5rem;text-align: center;
    color: #fff;padding: 12px;margin-bottom: 1.5rem;font-weight: 500;line-height: 1.57;
}

strong.required{
    display: inline-block;font-size: 0;width: 4px;height: 4px;border-radius: 50%;background: $primary;vertical-align: top;line-height: 1;margin-left: 2px;transform: translateY(1px);
}

.bg-in-modal{
    background: #EBEDF3;padding: 1.5rem;
}

.position-relative{
    .file-delete{position: absolute;right: 1rem;top: 50%;transform: translateY(-50%)}
}

.filter{
    background: #fff;border-radius: 12px;padding: 0 1.5rem;
    .filter-top{
        padding: .75rem 0;border-bottom: 1px solid #EBEDF3;
    }
    .filter-body{
        padding: .75rem 0;
    }
    .filter-title{font-size: 18px;font-weight: 700;}
}

.table-fixed{table-layout: fixed;}
.table-striped{border-bottom-width: 0;}

.table-wrap{display: flex;flex-direction: column;height: 100%;}
.table-top{margin-bottom: 1.25rem;}
.table-body{flex-grow: 1;height: 1px;
    .data-empty{font-size: 18px;font-weight: 500;color: #9C9FA9;}
}
.table-bottom{margin-top: 1rem;
    &.has-border{border-top: 1px solid #EBEDF3;padding-top: 1rem;}
}

.table-title{font-size: 24px;line-height: 1.25;font-weight: 700;}


thead{
    th:first-child{border-radius: 6px 0 0 6px;}
    th:last-child{border-radius: 0 6px 6px 0;}
}

.box{
    background: #fff;border-radius: 12px;padding: 1.5rem;height: 100%;
}

.frame{
    border: 1px solid #CFD4E1;height: 100%;border-radius: 12px;padding: 1rem 1.5rem;
}

.overflow-y-auto{
    height: 100%;overflow: auto;overflow-x: hidden;
}

.form-check{
    &.m-0{
        padding-left: $form-check-input-width;
        .form-check-input{float: none;margin-left: -$form-check-input-width;}
    }
    &.form-switch{
        &.m-0{
            padding-left: $form-switch-width;
            .form-check-input{float: none;margin-left: -$form-switch-width;}
        }
    }
}

.form-set{
    display: flex;align-items: center;
    > [class^=form-]{
        margin-left: 1px;margin-right: 1px;
        &:first-child{border-radius: $form-select-border-radius 0 0 $form-select-border-radius;}
        &:last-child{border-radius: 0 $form-select-border-radius $form-select-border-radius 0;}
    }
}

//IB Sheet
/* body{
    .GridMain1 .GridMain2 .GMHeaderText{
        background: #43464C;color: #fff;padding-top: 9px;padding-bottom: 9px;font-size: 14px;font-weight: 400;border-right-color: #000;border-left-color: #000;
    }
    .GridMain1 .GridMain2 .GMCell{
        padding-top: 10px;padding-bottom: 10px;font-size: 14px;
    }
} */

.selected-date-range{
    position: relative;display: inline-block;vertical-align: middle;
    .date{display: inline-block;background: #DCE0EA;line-height: 32px;height: 32px;border-radius: 50rem;font-size: 14px;padding-left: 13px;padding-right: 35px;}
    button{position: absolute;right: 6px;top: 50%;transform: translateY(-50%);}
}

.date-layer{
    width: 420px;background: #FFFFFF;box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);border-radius: 6px;padding: 1.5rem;display: none;
    position: absolute;right: 0;top: 44px;z-index: 99;
    .tit{text-align: center;font-size: 18px;font-weight: 700;border-bottom: 1px solid #EBEDF3;padding-bottom: 18px;line-height: 1.2;}
    .active &{
        display: block;
    }
    .date-layer-body{padding-top: 1.5rem;}
}

.btn-date-range{
    .active &{
        background-color: #fff;border-color: $primary;color: $primary;
        .icon-calendar{background-image: url('../images/icon-calendar-blue.svg');}
    }
}

.form-control-group{
    position: relative;
    .icon-calendar{position: absolute;right: 11px;top: 50%;transform: translateY(-50%);}
}

.form-horizontal{
    label{width: 120px;margin-top: 7px;color: #A0A0A0;}
    .row{
        margin-left: -.5rem;margin-right: -.5rem;
        > *{padding-left: .5rem;padding-right: .5rem;}
    }
}

.thumbs{
    background: #F2F4FA;border-radius: 6px;display: flex;align-items: center;justify-content: center; width: 140px;min-height: 124px;
    img{object-fit: contain;}
}

//bootstrap-datepicker custom
.datepicker{
    padding: 0 1.5rem;box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);border: 0;min-width: 410px;
    &::before,
    &::after{display: none;}
    table{
        width: 100%;line-height: 1.25;border-collapse: separate;
        tbody{
            span.year::after{content: '년';}
        }
        tfoot{
            .today{
                border-top: 1px solid #EBEDF3;
                > .btn{width: 112px;margin: 1rem 0;}
            }
        }
        .move-area{
            > th,
            > td{padding-top: 1.5rem;padding-bottom: 1.5rem;border-bottom: 1px solid #EBEDF3;}
        }
        .datepicker-switch{font-size: 24px;font-weight: 700;}
        tr{
            td{
                width: 48px;height: 48px; border: 1px solid transparent;border-radius: 6px;text-shadow: none !important;font-size: 16px;
                span.month{height: 80px;line-height: 80px;border: 1px solid transparent;}
                span.year{height: 80px;line-height: 80px;border: 1px solid transparent;color: $body-color;}
                span{text-shadow: none !important;}
            }
            td.today,
            td.today:hover{background: $primary;color: #fff;border-color: $primary;}
            td span.active.active,
            td span.active:hover.active:hover,
            td.active.active,
            td.active.active:hover{background: rgba(67, 74, 250, 0.1);border-color: $primary;color: #000;}
            th.dow{font-size: 12px;padding-top: .75rem;padding-bottom: .75rem;}
            th.dow:first-child,
            td.day:first-child{color: $danger;}
            th.dow:last-child,
            td.day:last-child{color: $info;}
            td.day.old,
            td.day.new{opacity: .4;}
        }
        .datepicker-switch:hover,
        .next:hover,
        .prev:hover,
        tfoot tr th:hover{background: transparent;}
    }
}

.nav-tabs{
    .nav-link{
        &.tit{
            margin-bottom: 0;border: 0;background: transparent;padding-top: 0;border-bottom: 2px solid #ebedf3;position: relative;
            &:not(.active){color: #787878;font-weight: 400;}
            &.active{color: $body-color;font-weight: 700;
                &::after{content: '';width: 100%;height: 4px;border-radius: 2px;background: $body-color;position: absolute;left: 0;bottom: -3px;}
            }
        }
    }
}