.collapsed-switch-item{
    background: #F8F8FB;padding: .6rem 0;border-radius: 6px;
    & + &{margin-top: 1rem;}
}

.tr-collapsed{display: none;}

.expanded{
    ~ .tr-collapsed{display: table-row;}
    .toggler{
        a{color: $primary;}
        .icon-arrow-right{transform: rotate(90deg);}
    }
}

.table-user-auth{
    > thead{
        > tr > th{font-size: 18px;color: #787878;font-weight: 500;}
    }
    table{
        font-size: 18px;
    }
    .icon-arrow-right{vertical-align: middle;margin-top: -3px;}
    .form-check{font-size: 1rem;}
    .text-start{padding-left: 50px;}
    .tr-collapsed{
        td{padding-top: 12px;padding-bottom: 12px;}
    }
}

.edit-info{
    border: 1px solid #CFD4E1;border-radius: 6px;padding: 14px 1rem;height: 78px;
    dl{
        &:after{content: '';display: block;clear: both;}
    }
    dt{float: left;color: #787878;font-weight: 400;}
    dd{text-align: right;padding-bottom: 6px;
        &:last-of-type{padding-bottom: 0;}
    }
}


.memo-tooltip{
    background: #fff;width: 480px;border: 2px solid $primary;border-radius: 6px;padding: 1.5rem;position: absolute;right: 0;bottom: 56px;box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);display: none;
    &::after{content: '';display: block;background: url('../images/tooltip-arrow.svg') no-repeat 50% 0;background-size: contain; width: 26px;height: 26px;position: absolute;right: 40px;bottom: -26px;filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.03));}
    .btn.active ~ &{
        display: block;
    }
}